/* Coolors Exported Palette - coolors.co/f8baa0-aaabbc-eff1f3-5699fb-ce4910 */

/* RGB */
$theme-orange-light: rgba(248, 186, 160, 1);
$theme-gray: rgba(170, 171, 188, 1);
$theme-gray-light: rgba(239, 241, 243, 1);
$theme-blue: rgba(86, 153, 251, 1);
$theme-orange: rgba(206, 73, 16, 1);